<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.web.mapper.MemberCouponMapper">

    <sql id="tableName">member_coupon</sql>
    <sql id="base_column">coupon_id, member_info_id, is_used, grant_time, invalid_time</sql>

    <insert id="insertByList" parameterType="java.util.List">
        insert into <include refid="tableName"/>
        (<include refid="base_column"/>)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <trim suffixOverrides=",">
                #{item.couponId},
                #{item.memberInfoId},
                #{item.isUsed},
                #{item.grantTime},
                #{item.invalidTime}
            </trim>)
        </foreach>

        <!--<foreach collection="list" item="item" index="index" separator="union all">
            (select
            <trim suffixOverrides=",">
                #{item.couponId},
                #{item.memberInfoId},
                #{item.isUsed},
                #{item.grantTime},
                #{item.invalidTime} FROM dual
            </trim>)
        </foreach>-->
    </insert>

    <insert id="dynamicInsert" parameterType="com.platform.web.entity.MemberCoupon" useGeneratedKeys="true"
            keyProperty="relevanceId">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="memberInfoId != null">
                member_info_id,
            </if>
            <if test="isUsed != null">
                is_used,
            </if>
            <if test="grantTime != null">
                grant_time,
            </if>
            <if test="invalidTime != null">
                invalid_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="couponId != null">
                #{couponId},
            </if>
            <if test="memberInfoId != null">
                #{memberInfoId},
            </if>
            <if test="isUsed != null">
                #{isUsed},
            </if>
            <if test="grantTime != null">
                #{grantTime},
            </if>
            <if test="invalidTime != null">
                #{invalidTime},
            </if>
        </trim>
    </insert>


</mapper>