<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.web.mapper.MemberScreeningMapper" >
    <resultMap id="BaseResultMap" type="com.platform.web.entity.MemberScreening" >
        <id column="screening_id" property="screeningId" jdbcType="INTEGER" />
        <result column="screening_name" property="screeningName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="CHAR" />
        <result column="unused_balance_start" property="unusedBalanceStart" jdbcType="INTEGER" />
        <result column="unused_balance_end" property="unusedBalanceEnd" jdbcType="INTEGER" />
        <result column="integral_balance_start" property="integralBalanceStart" jdbcType="INTEGER" />
        <result column="integral_balance_end" property="integralBalanceEnd" jdbcType="INTEGER" />
        <result column="birthday_start" property="birthdayStart" jdbcType="VARCHAR" />
        <result column="birthday_end" property="birthdayEnd" jdbcType="VARCHAR" />
        <result column="registration_date_start" property="registrationDateStart" jdbcType="VARCHAR" />
        <result column="registration_date_end" property="registrationDateEnd" jdbcType="VARCHAR" />
        <result column="consumption_average_start" property="consumptionAverageStart" jdbcType="INTEGER" />
        <result column="consumption_average_end" property="consumptionAverageEnd" jdbcType="INTEGER" />
        <result column="cumulative_consumption_start" property="cumulativeConsumptionStart" jdbcType="INTEGER" />
        <result column="cumulative_consumption_end" property="cumulativeConsumptionEnd" jdbcType="INTEGER" />
        <result column="last_consume_time_start" property="lastConsumeTimeStart" jdbcType="INTEGER" />
        <result column="last_consume_time_end" property="lastConsumeTimeEnd" jdbcType="INTEGER" />
        <result column="debt_amount_start" property="debtAmountStart" jdbcType="DECIMAL" />
        <result column="debt_amount_end" property="debtAmountEnd" jdbcType="DECIMAL" />
        <result column="gift_money_amount_start" property="giftMoneyAmountStart" jdbcType="DECIMAL" />
        <result column="gift_money_amount_end" property="giftMoneyAmountEnd" jdbcType="DECIMAL" />
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="branch_store_ids" property="branchStoreIds" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="BaseResultMapDto" type="com.platform.web.dto.ScreeningDto" >
        <id column="screening_id" property="screeningId" jdbcType="INTEGER" />
        <result column="screening_name" property="screeningName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="CHAR" />
        <result column="unused_balance_start" property="unusedBalanceStart" jdbcType="INTEGER" />
        <result column="unused_balance_end" property="unusedBalanceEnd" jdbcType="INTEGER" />
        <result column="integral_balance_start" property="integralBalanceStart" jdbcType="INTEGER" />
        <result column="integral_balance_end" property="integralBalanceEnd" jdbcType="INTEGER" />
        <result column="birthday_start" property="birthdayStart" jdbcType="VARCHAR" />
        <result column="birthday_end" property="birthdayEnd" jdbcType="VARCHAR" />
        <result column="registration_date_start" property="registrationDateStart" jdbcType="VARCHAR" />
        <result column="registration_date_end" property="registrationDateEnd" jdbcType="VARCHAR" />
        <result column="consumption_average_start" property="consumptionAverageStart" jdbcType="INTEGER" />
        <result column="consumption_average_end" property="consumptionAverageEnd" jdbcType="INTEGER" />
        <result column="cumulative_consumption_start" property="cumulativeConsumptionStart" jdbcType="INTEGER" />
        <result column="cumulative_consumption_end" property="cumulativeConsumptionEnd" jdbcType="INTEGER" />
        <result column="last_consume_time_start" property="lastConsumeTimeStart" jdbcType="INTEGER" />
        <result column="last_consume_time_end" property="lastConsumeTimeEnd" jdbcType="INTEGER" />
        <result column="debt_amount_start" property="debtAmountStart" jdbcType="DECIMAL" />
        <result column="debt_amount_end" property="debtAmountEnd" jdbcType="DECIMAL" />
        <result column="gift_money_amount_start" property="giftMoneyAmountStart" jdbcType="DECIMAL" />
        <result column="gift_money_amount_end" property="giftMoneyAmountEnd" jdbcType="DECIMAL" />
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="branch_store_ids" property="branchStoreIds" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="memberInfoMap" type="com.platform.web.dto.MemberInfoDto">
        <id column="member_id" property="memberId" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        *
        from member_screening
        where store_id = #{storeId,jdbcType=INTEGER}
    </select>


    <select id="selectByDtos" parameterType="java.util.List" resultMap="BaseResultMapDto">
        select
        *
        from member_screening
        where screening_id in
        <foreach collection="list" item="item"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 会员分组页面 -->
    <sql id="selectMemberWithScres">
        SELECT ai.account_id from member_account ai,member_info ti
        WHERE 1=1
        <if test="unusedBalanceStart != null">
            AND ai.balance_amount &gt;= #{unusedBalanceStart}
        </if>
        <if test="unusedBalanceEnd != null">
            AND ai.balance_amount &lt;= #{unusedBalanceEnd}
        </if>
        <if test="integralBalanceStart != null">
            AND ai.balance_integral &gt;= #{integralBalanceStart}
        </if>
        <if test="integralBalanceEnd != null">
            AND ai.balance_integral &lt;= #{integralBalanceEnd}
        </if>
        <if test="cumulativeConsumptionStart != null">
            AND ai.total_consume_amount &gt;= #{cumulativeConsumptionStart}
        </if>
        <if test="cumulativeConsumptionEnd != null">
            AND ai.total_consume_amount &lt;= #{cumulativeConsumptionEnd}
        </if>
        <if test="consumptionAverageStart != null">
            AND ai.avg_consume_amount &gt;= #{consumptionAverageStart}
        </if>
        <if test="consumptionAverageEnd != null">
            AND ai.avg_consume_amount &lt;= #{consumptionAverageEnd}
        </if>
        <if test="lastConsumeTimeStart != null">
            AND ai.last_consume_time &gt;= #{lastConsumeTimeStart}
        </if>
        <if test="lastConsumeTimeEnd != null">
            AND ai.last_consume_time &lt;= #{lastConsumeTimeEnd}
        </if>
        <if test="debtAmountStart != null">
            AND ai.debt_amount &gt;= #{debtAmountStart}
        </if>
        <if test="debtAmountEnd != null">
            AND ai.debt_amount &lt;= #{debtAmountEnd}
        </if>
        <if test="giftMoneyAmountStart != null">
            AND ai.balance_giftmoney_amount &gt;= #{giftMoneyAmountStart}
        </if>
        <if test="giftMoneyAmountEnd != null">
            AND ai.balance_giftmoney_amount &lt;= #{giftMoneyAmountEnd}
        </if>
        <if test="registrationDateStart != null">
            AND STR_TO_DATE(ti.create_time,'%Y-%m-%d') &gt;= STR_TO_DATE(#{registrationDateStart},'%Y-%m-%d')
        </if>
        <if test="registrationDateEnd != null">
            AND STR_TO_DATE(ti.create_time,'%Y-%m-%d') &lt;= STR_TO_DATE(#{registrationDateEnd},'%Y-%m-%d')
        </if>
        <if test="birthdayStart != null">
            AND (STR_TO_DATE(ti.birthday,'%m-%d') &gt;= STR_TO_DATE(#{birthdayStart},'%m-%d') OR (ti.birthday is null or ti.birthday = ''))
        </if>
        <if test="birthdayEnd != null">
            AND (STR_TO_DATE(ti.birthday,'%m-%d') &lt;= STR_TO_DATE(#{birthdayEnd},'%m-%d') OR (ti.birthday is null or ti.birthday = ''))
        </if>
        <if test="sex != null and sex != '全部' ">
            AND wx.sex = #{sex}
        </if>
        <if test="levelId != null and levelId != 0 ">
            AND wx.level_id = #{levelId}
        </if>
        AND ai.account_id = ti.member_id
        <if test="branchStoreIds != null">
            AND ti.store_id in (${branchStoreIds})
        </if>
        <if test="branchStoreIds == null">
            AND ti.store_id = #{storeId}
        </if>
    </sql>

    <select id="selectMemberIdsByDtos2" parameterType="com.platform.web.dto.ScreeningDto" resultType="java.lang.Integer">
        SELECT wx.member_id from member_info wx, member_level qw, member_account rt
        WHERE wx.member_id IN (
        <include refid="selectMemberWithScres"/>
        )
        AND qw.level_id = wx.level_id
        AND rt.account_id = wx.member_id
        AND wx.is_deleted = 0
    </select>

    <select id="selectMemberInfoInIds" parameterType="java.util.List" resultMap="memberInfoMap">
        SELECT
        m.member_id, m.phone
        from member_info m
        where member_id in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </select>

    <select id="selectMemberIdListByGroupParam" parameterType="com.platform.web.dto.ScreeningDto" resultMap="memberInfoMap">
        SELECT
        m.member_id, m.phone
        from member_info m
        INNER JOIN member_account a ON a.account_id = m.member_id
        INNER JOIN (
        select account_id
        from member_sub_account
        where is_deleted = 0
        <if test="levelId != null and levelId != 0 ">
            and level_id = #{levelId}
        </if>
        <if test="storeId != null and storeId != 0">
            and store_id = #{storeId}
        </if>
        <if test="branchStoreIds != null">
            and store_id IN (${branchStoreIds})
        </if>
        <if test="debtAmountStart != null and debtAmountStart != 0">
            and debt_amount &gt;= #{debtAmountStart}
        </if>
        <if test="debtAmountEnd != null and debtAmountEnd != 0">
            and debt_amount &lt;= #{debtAmountEnd}
        </if>
        <if test="giftMoneyAmountStart != null and giftMoneyAmountStart != 0">
            and balance_giftmoney_amount &gt;= #{giftMoneyAmountStart}
        </if>
        <if test="giftMoneyAmountEnd != null and giftMoneyAmountEnd != 0">
            and balance_giftmoney_amount &lt;= #{giftMoneyAmountEnd}
        </if>
        <if test="unusedBalanceStart != null and unusedBalanceStart != 0">
            and balance_amount &gt;= #{unusedBalanceStart}
        </if>
        <if test="unusedBalanceEnd != null and unusedBalanceEnd != 0">
            and balance_amount &lt;= #{unusedBalanceEnd}
        </if>
        GROUP BY account_id
        ) msa ON m.member_id = msa.account_id
        WHERE 1=1
        <if test="integralBalanceStart != null and integralBalanceStart != 0">
            AND a.balance_integral &gt;= #{integralBalanceStart}
        </if>
        <if test="integralBalanceEnd != null and integralBalanceEnd != 0">
            AND a.balance_integral &lt;= #{integralBalanceEnd}
        </if>
        <if test="cumulativeConsumptionStart != null and cumulativeConsumptionStart != 0">
            AND a.total_consume_amount &gt;= #{cumulativeConsumptionStart}
        </if>
        <if test="cumulativeConsumptionEnd != null and integralBalanceStart != 0">
            AND a.total_consume_amount &lt;= #{cumulativeConsumptionEnd}
        </if>
        <if test="consumptionAverageStart != null and integralBalanceStart != 0">
            AND a.avg_consume_amount &gt;= #{consumptionAverageStart}
        </if>
        <if test="consumptionAverageEnd != null and consumptionAverageEnd != 0">
            AND a.avg_consume_amount &lt;= #{consumptionAverageEnd}
        </if>
        <if test="lastConsumeTimeStart != null and lastConsumeTimeStart != 0">
            AND To_Days(now()) - To_Days(a.last_consume_time) &gt;= #{lastConsumeTimeStart}
        </if>
        <if test="lastConsumeTimeEnd != null and lastConsumeTimeEnd != 0">
            AND To_Days(now()) - To_Days(a.last_consume_time) &lt;= #{lastConsumeTimeEnd}
        </if>
        <if test="avgVisitDaysStart != null and avgVisitDaysStart != 0">
            AND a.avg_consume_days &gt;= #{avgVisitDaysStart}
        </if>
        <if test="avgVisitDaysEnd != null and avgVisitDaysEnd != 0">
            AND a.avg_consume_days &lt;= #{avgVisitDaysEnd}
        </if>
        <if test="registrationDateStart != null">
            AND m.create_time &gt;= STR_TO_DATE(#{registrationDateStart},'%Y-%m-%d')
        </if>
        <if test="registrationDateEnd != null">
            AND m.create_time &lt;= STR_TO_DATE(#{registrationDateEnd},'%Y-%m-%d')
        </if>
        <if test="registrationDateStart != null and registrationDateEnd != null">
            AND m.create_time <![CDATA[<>]]> ''
        </if>
        <if test="birthdayStart != null">
            AND (m.birthday &gt;= STR_TO_DATE(#{birthdayStart},'%m-%d') OR m.birthday = '')
        </if>
        <if test="birthdayEnd != null">
            AND (m.birthday &lt;= STR_TO_DATE(#{birthdayEnd},'%m-%d') OR m.birthday = '')
        </if>
        <if test="birthdayStart != null and birthdayEnd != null">
            AND m.birthday <![CDATA[<>]]> ''
        </if>
        <if test="sex != null and sex != '全部' ">
            AND m.sex = #{sex}
        </if>
    </select>

    <select id="selectMemberIdsByLevelIds" parameterType="java.util.List" resultType="java.lang.Integer">
        select account_id from member_sub_account where level_id in
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
        and store_id = #{storeId} and is_deleted = 0
    </select>

</mapper>