<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.web.mapper.MemberLevelMapper">
    <resultMap id="BaseResultMap" type="com.platform.web.entity.MemberLevel">
        <id column="level_id" property="levelId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="level_name" property="levelName" jdbcType="VARCHAR"/>
        <result column="project_discount" property="projectDiscount" jdbcType="INTEGER"/>
        <result column="goods_discount" property="goodsDiscount" jdbcType="INTEGER"/>
        <result column="sell_amount" property="sellAmount" jdbcType="INTEGER"/>
        <result column="cash_discount_type" property="cashDiscountType" jdbcType="INTEGER"/>
        <result column="charge_min_money" property="chargeMinMoney" jdbcType="INTEGER"/>
        <result column="integral_unit" property="integralUnit" jdbcType="INTEGER"/>
        <result column="integral_number" property="integralNumber" jdbcType="INTEGER"/>
        <result column="performance_discount_percent" property="performanceDiscountPercent" jdbcType="INTEGER"/>
        <result column="level_notice" property="levelNotice" jdbcType="VARCHAR"/>
        <result column="open_commision_type" property="openCommisionType" jdbcType="INTEGER"/>
        <result column="open_commision_json" property="openCommisionJson" jdbcType="VARCHAR"/>
        <result column="charge_commision_type" property="chargeCommisionType" jdbcType="INTEGER"/>
        <result column="charge_commision_json" property="chargeCommisionJson" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="is_default" property="isDefault" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="CHAR"/>
        <result column="update_time" property="updateTime" jdbcType="CHAR"/>
        <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        level_id, store_id, level_name, project_discount, goods_discount, sell_amount, cash_discount_type,
        charge_min_money, integral_unit, integral_number, performance_discount_percent, level_notice,
        open_commision_type, open_commision_json, charge_commision_type, charge_commision_json,
        is_deleted, is_default, create_time, update_time, last_operator_id
    </sql>

    <select id="selectByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from member_level where store_id = (select ifnull(hq_store_id, #{storeId}) from store_info where store_id =
        #{storeId}) and is_deleted = 0
    </select>

</mapper>