<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.web.mapper.ProductMapper">
    <resultMap id="resultProductOptionMap" type="com.platform.web.dto.ProductOptionDto">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="p_name" property="name" jdbcType="VARCHAR"/>
        <result column="image" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="price" property="productAmount" jdbcType="DECIMAL"/>
    </resultMap>


    <resultMap id="voucherResultMap" type="com.platform.web.dto.VoucherOptionDto">
        <id column="coupon_id" property="id" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="coupon_price" property="price" jdbcType="INTEGER"/>
        <result column="coupon_name" property="name" jdbcType="VARCHAR"/>
        <result column="coupon_type" property="couponTypeId" jdbcType="INTEGER"/>
        <result column="coupon_start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="release_time" property="releaseTime" jdbcType="VARCHAR"/>
        <result column="effective_days" property="effectiveDays" jdbcType="INTEGER" />
        <result column="has_exchange_count" property="hasExchangeCount" jdbcType="INTEGER" />
        <result column="has_use_count" property="hasUseCount" jdbcType="INTEGER" />
        <result column="coupon_stop_time" property="couponStopTime" jdbcType="CHAR" />
    </resultMap>


    <resultMap id="ResultDto" type="com.platform.web.dto.CouponInfoDto" >
        <id column="coupon_id" property="couponId" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_price" property="couponPrice" jdbcType="INTEGER" />
        <result column="coupon_vantages" property="couponVantages" jdbcType="INTEGER" />
        <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
        <result column="coupon_use" property="couponUse" jdbcType="VARCHAR" />
        <result column="coupon_start_time" property="couponStartTime" jdbcType="CHAR" />
        <result column="coupon_stop_time" property="couponStopTime" jdbcType="CHAR" />
        <result column="coupon_is_use" property="couponIsUse" jdbcType="VARCHAR" />
        <result column="release_time" property="releaseTime" jdbcType="VARCHAR" />
        <result column="effective_days" property="effectiveDays" jdbcType="INTEGER" />
        <result column="has_exchange_count" property="hasExchangeCount" jdbcType="INTEGER" />
        <result column="has_use_count" property="hasUseCount" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="MemberCouponDto" type="com.platform.web.dto.MemberCouponDto">
        <id column="relevance_id" property="relevanceId" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_price" property="couponPrice" jdbcType="INTEGER" />
        <result column="is_used" property="isUsed" jdbcType="INTEGER" />
        <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
        <result column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="grant_time" property="grantTime" jdbcType="VARCHAR" />
        <result column="invalid_time" property="invalidTime" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="wxAppInfoDto" type="com.platform.web.dto.WxAppInfoDto">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="qr_code_url" property="qrcode" jdbcType="VARCHAR" />
        <result column="user_name" property="wechatId" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="goodsTag">2</sql>
    <sql id="projectTag">1</sql>
    <sql id="comboTag">3</sql>
    <sql id="projectCategoryTag">4</sql>
    <sql id="goodsCategoryTag">5</sql>

    <sql id="selectGoodsByStore">
        select @t:=<include refid="goodsTag"/> as category,
        goods_id as id, store_id, goods_name as p_name,
        goods_image as image, goods_desc as description,
        goods_price as price
        from goods_info
        where store_id = #{storeId} and is_deleted = 0
    </sql>

    <sql id="selectComboByStore">
        select @t:=<include refid="comboTag"/> as category, combo_id as id, store_id, combo_name as p_name,
        combo_image as image, combo_desc as description,
        combo_sale_price as price
        from combo_info
        where store_id = #{storeId} and is_deleted = 0
    </sql>

    <sql id="selectProjectByStore" >
        select @t:=<include refid="projectTag"/> as category, project_id as id, store_id,
        project_name as p_name,
        project_image as image, project_desc as description,
        project_price as price
        from project_info
        where store_id = #{storeId} and is_deleted = 0
    </sql>

    <sql id="selectProjectCategoryByStore" >
        select @t:=<include refid="projectCategoryTag"/> as category, category_id as id, store_id,
        category_name as p_name,
        @m:='' as image,
        @d:='' as description,
        @p:= 0.0 as price
        from project_category
        where store_id = #{storeId} and is_deleted = 0
    </sql>

    <sql id="selectGoodsCategoryByStore" >
        select @t:=<include refid="goodsCategoryTag"/> as category, category_id as id, store_id,
        category_name as p_name,
        @m:='' as image,
        @d:='' as description,
        @p:= 0.0 as price
        from goods_category
        where store_id = #{storeId} and is_deleted = 0
    </sql>

    <select id="selectProductByStore" parameterType="java.lang.Integer" resultMap="resultProductOptionMap">
        select * from (
        <include refid="selectGoodsByStore">
            <property name="storeId" value="#{storeId}"></property>
        </include>
        ) r UNION ALL
        select * from (
        <include refid="selectComboByStore">
            <property name="storeId" value="#{storeId}"></property>
        </include>
        ) r UNION ALL
        select * from (
        <include refid="selectProjectByStore">
            <property name="storeId" value="#{storeId}"></property>
        </include>
        ) r UNION ALL
        select * from (
        <include refid="selectProjectCategoryByStore">
            <property name="storeId" value="#{storeId}"></property>
        </include>
        ) r UNION ALL
        select * from (
        <include refid="selectGoodsCategoryByStore">
            <property name="storeId" value="#{storeId}"></property>
        </include>
        ) r
    </select>

    <select id="selectVoucher" parameterType="java.util.Map" resultMap="voucherResultMap">
        select coupon_id, store_id, coupon_name, coupon_price, coupon_type, coupon_start_time,
        coupon_stop_time,
        release_time,
        effective_days,
        has_exchange_count,
        has_use_count,
        coupon_stop_time
        from coupon_info
        where store_id = #{storeId}
        and is_delete = 0
        and (coupon_stop_time >= #{time} OR effective_days > 0)
        <if test=" productTypeId != null and productTypeId != -1 ">
            and coupon_type = #{productTypeId}
        </if>

    </select>

    <select id="selectVoucherByIds" parameterType="java.util.List" resultMap="voucherResultMap">
        select coupon_id, store_id, coupon_name, coupon_price, coupon_type, coupon_start_time,
        coupon_stop_time,
        release_time,
        effective_days,
        has_exchange_count,
        has_use_count,
        coupon_stop_time
        from coupon_info
        where coupon_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")" >
            #{item}
        </foreach>
        and is_delete = 0
    </select>

    <select id="selectVoucherById" parameterType="java.lang.Integer" resultMap="voucherResultMap">
        select coupon_id, store_id, coupon_name, coupon_price, coupon_type, coupon_start_time,
        coupon_stop_time,
        release_time,
        effective_days,
        has_exchange_count,
        has_use_count,
        coupon_stop_time
        from coupon_info
        where coupon_id = #{id}
        and is_delete = 0
    </select>


    <select id="selectVoucherByProduct" parameterType="java.util.Map" resultMap="voucherResultMap">
        select coupon_id, store_id, coupon_name, coupon_price, coupon_type, coupon_start_time,
        coupon_stop_time,
        release_time,
        effective_days,
        has_exchange_count,
        has_use_count,
        coupon_stop_time
        from coupon_info
        where is_delete = 0
        and store_id = #{storeId}
        and (coupon_stop_time >= #{time} OR effective_days > 0)
        and coupon_type = #{productTypeId}
        and coupon_use_id = #{productId}
    </select>

    <resultMap id="projectAppointResultMap" type="com.platform.web.dto.ProjectAppointDto">
        <id column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="sales_count" property="salesCount" jdbcType="INTEGER"/>
        <result column="sales_people" property="salesPeople" jdbcType="INTEGER"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_desc" property="projectDesc" jdbcType="VARCHAR"/>
        <result column="affiliated_image" property="affiliatedImage" jdbcType="VARCHAR"/>
        <result column="project_price" property="projectPrice" jdbcType="DECIMAL"/>
        <result column="appointment_price" property="appointmentPrice" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectProjectAppointByProjectId" resultMap="projectAppointResultMap" parameterType="java.lang.Integer">
        select
        pi.project_id,
        pi.project_name,
        pi.project_image,
        pi.project_desc,
        pi.project_price,
        pi.appointment_price,
        pi.sales_count,
        pi.sales_people,
        pi.affiliated_image
        from project_info pi
        where pi.is_deleted = 0
        and pi.project_id = #{projectId}
    </select>

    <resultMap id="goodsAppointResultMap" type="com.platform.web.dto.GoodsAppointDto">
        <id column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL"/>
        <result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
        <result column="goods_image" property="goodsImage" jdbcType="VARCHAR"/>
        <result column="goods_desc" property="goodsDesc" jdbcType="VARCHAR"/>
        <result column="affiliated_image" property="affiliatedImage" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectGoodsAppointByGoodsId" parameterType="java.lang.Integer" resultMap="goodsAppointResultMap">
        select goods_id, goods_name, goods_price, cost_price,
        goods_image, goods_desc, affiliated_image
        from goods_info
        where is_deleted = 0
        and goods_id = #{goodsId}
    </select>

    <select id="selectCouponByIds" resultMap="ResultDto" parameterType="java.util.List" >
        SELECT
        *
        from coupon_info
        WHERE is_delete = 0
        and coupon_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectCouponByOpenId" parameterType="java.lang.String" resultMap="MemberCouponDto">
        select
        m.relevance_id,
        m.is_used,
        m.grant_time,
        m.invalid_time,
        m.coupon_id,
        p.coupon_name,
        p.coupon_price,
        p.store_id
        from wechat_member as w inner join member_coupon as m
        on w.member_id = m.member_info_id
        inner join coupon_info as p
        on m.coupon_id = p.coupon_id
        where p.is_delete = 0
        and w.open_id = #{openid}
    </select>

    <update id="updateMemberCouponInfo" parameterType="java.util.Map" >
        update member_coupon
        set is_used = #{isUsed}
        where relevance_id = #{relevanceId}
    </update>

    <update id="updateCouponExchangeCountByIds" parameterType="java.util.List">
        update coupon_info set has_exchange_count = has_exchange_count + 1
        where is_delete = 0
        and coupon_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="selectWxAppQrcode" parameterType="java.lang.Integer" resultMap="wxAppInfoDto">
        select id, qr_code_url, user_name from wx_app_info
        where state = 0
        and store_id = #{storeId}
    </select>

</mapper>