<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.web.mapper.WxPlatformMsgReplyMapper">

    <resultMap id="store_setting_Map" type="com.platform.web.entity.StoreSetting" >
        <id column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="gift_clean_days" property="giftCleanDays" jdbcType="INTEGER" />
        <result column="integral_clean_days" property="integralCleanDays" jdbcType="INTEGER" />
        <result column="cost_commission_type" property="costCommissionType" jdbcType="INTEGER" />
        <result column="commission_fixed_type" property="commissionFixedType" jdbcType="INTEGER" />
        <result column="gift_commission_rate" property="giftCommissionRate" jdbcType="INTEGER" />
        <result column="coupon_commission_rate" property="couponCommissionRate" jdbcType="INTEGER" />
        <result column="appoint_remind_hour" property="appointRemindHour" jdbcType="INTEGER" />
        <result column="speech_type" property="speechType" jdbcType="INTEGER" />
        <result column="speech_turn_use" property="speechTurnUse" jdbcType="INTEGER" />
        <result column="first_follow_coupon" property="firstFollowCoupon" jdbcType="VARCHAR" />
        <result column="first_follow_gift" property="firstFollowGift" jdbcType="INTEGER" />
        <result column="member_share_reward" property="memberShareReward" jdbcType="VARCHAR" />
        <result column="member_share_title" property="memberShareTitle" jdbcType="VARCHAR" />
        <result column="sms_fee" property="smsFee" jdbcType="INTEGER" />
        <result column="last_facilitator" property="lastFacilitator" jdbcType="VARCHAR" />
        <result column="is_performance_commission" property="isPerformanceCommission" jdbcType="INTEGER" />
        <result column="percentage_fixed_type" property="percentageFixedType" jdbcType="INTEGER" />
        <result column="payment_verify_type" property="paymentVerifyType" jdbcType="INTEGER" />
        <result column="appointment_discount" property="appointmentDiscount" jdbcType="INTEGER" />
        <result column="weixin_pic_url" property="weixinPicUrl" jdbcType="VARCHAR"/>
        <result column="ali_pic_url" property="aliPicUrl" jdbcType="VARCHAR"/>
        <result column="gift_use_type" property="giftUseType" jdbcType="INTEGER" />
        <result column="receipts_use_type" property="receiptsUseType" jdbcType="INTEGER" />
        <result column="sms_message_type" property="smsMessageType" jdbcType="INTEGER" />
        <result column="order_type" property="orderType" jdbcType="INTEGER" />
        <result column="order_code_type" property="orderCodeType" jdbcType="INTEGER" />
        <result column="debt_warning" property="debtWarning" jdbcType="INTEGER" />
        <result column="show_project_price" property="showProjectPrice" jdbcType="INTEGER" />
        <result column="gift_discount_type" property="giftDiscountType" jdbcType="INTEGER" />
        <result column="conserved_information" property="conservedInformation" jdbcType="INTEGER" />
    </resultMap>


    <sql id="store_setting_column_List" >
        store_id, gift_clean_days, integral_clean_days, cost_commission_type, commission_fixed_type,
        gift_commission_rate, coupon_commission_rate, appoint_remind_hour, speech_type, speech_turn_use,
        first_follow_coupon, first_follow_gift, member_share_reward, member_share_title, sms_fee, last_facilitator,
        is_performance_commission, percentage_fixed_type, payment_verify_type, appointment_discount,
        weixin_pic_url, ali_pic_url, gift_use_type, receipts_use_type, sms_message_type, order_type, order_code_type,
        show_project_price, debt_warning, gift_discount_type, conserved_information
    </sql>

    <resultMap id="couponInfoDtoMap" type="com.platform.web.dto.CouponInfoDto" >
        <id column="coupon_id" property="couponId" jdbcType="INTEGER" />
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR" />
        <result column="coupon_price" property="couponPrice" jdbcType="INTEGER" />
        <result column="coupon_vantages" property="couponVantages" jdbcType="INTEGER" />
        <result column="coupon_type" property="couponType" jdbcType="VARCHAR" />
        <result column="coupon_use" property="couponUse" jdbcType="VARCHAR" />
        <result column="coupon_start_time" property="couponStartTime" jdbcType="CHAR" />
        <result column="coupon_stop_time" property="couponStopTime" jdbcType="CHAR" />
        <result column="coupon_is_use" property="couponIsUse" jdbcType="VARCHAR" />
        <result column="release_time" property="releaseTime" jdbcType="VARCHAR" />
        <result column="effective_days" property="effectiveDays" jdbcType="INTEGER" />
        <result column="has_exchange_count" property="hasExchangeCount" jdbcType="INTEGER" />
        <result column="has_use_count" property="hasUseCount" jdbcType="INTEGER" />
        <result column="start_time_use" property="startUseTime" jdbcType="CHAR" />
        <result column="end_time_use" property="endUseTime" jdbcType="CHAR" />
    </resultMap>

    <sql id="member_sub_account_column_list">
        sub_account_id, account_id, store_id, level_id, card_no, total_amount, total_present_amount,
        balance_amount, use_amount, total_giftmoney_amount, balance_giftmoney_amount, overdue_giftmoney_amount,end_date,
        debt_amount, is_deleted, create_time, update_time, last_operator_id, IFNULL(blackOrDeleted,2) blackOrDeleted,debt_consumed_amt,
        debt_card_amt, policy_member_id, policy_card_no
    </sql>

    <resultMap id="memberSubAccountMap" type="com.platform.web.entity.MemberSubAccount">
        <id column="sub_account_id" property="subAccountId" jdbcType="INTEGER"/>
        <result column="account_id" property="accountId" jdbcType="INTEGER"/>
        <result column="store_id" property="storeId" jdbcType="INTEGER"/>
        <result column="level_id" property="levelId" jdbcType="INTEGER"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="total_present_amount" property="totalPresentAmount" jdbcType="DECIMAL"/>
        <result column="balance_amount" property="balanceAmount" jdbcType="DECIMAL"/>
        <result column="use_amount" property="useAmount" jdbcType="DECIMAL"/>
        <result column="total_giftmoney_amount" property="totalGiftmoneyAmount" jdbcType="DECIMAL"/>
        <result column="balance_giftmoney_amount" property="balanceGiftmoneyAmount" jdbcType="DECIMAL"/>
        <result column="overdue_giftmoney_amount" property="overdueGiftmoneyAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="CHAR"/>
        <result column="update_time" property="updateTime" jdbcType="CHAR"/>
        <result column="last_operator_id" property="lastOperatorId" jdbcType="INTEGER"/>
        <result column="end_date" property="endDate" jdbcType="CHAR"/>
        <result column="update_time" property="updateTime" jdbcType="CHAR"/>
        <result column="debt_consumed_amt" property="debtConsumedAmt" jdbcType="DECIMAL"/>
        <result column="debt_card_amt" property="debtCardAmt" jdbcType="DECIMAL"/>
        <result column="policy_member_id" property="policyMemberId" jdbcType="INTEGER" />
        <result column="policy_card_no" property="policyCardNo" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="store_apply_agent_column_List" >
        store_id, agent_id, is_deleted, create_time, update_time
    </sql>

    <sql id="store_apply_salesman_column_List" >
        store_id, salesman_id, is_deleted, create_time, update_time
    </sql>

    <resultMap id="storeApplySalesmanMap" type="com.platform.web.entity.StoreApplySalesman" >
        <id column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="salesman_id" property="salesmanId" jdbcType="INTEGER" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="CHAR" />
        <result column="update_time" property="updateTime" jdbcType="CHAR" />
    </resultMap>

    <resultMap id="storeApplyAgentMap" type="com.platform.web.entity.StoreApplyAgent" >
        <id column="store_id" property="storeId" jdbcType="INTEGER" />
        <result column="agent_id" property="agentId" jdbcType="INTEGER" />
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="CHAR" />
        <result column="update_time" property="updateTime" jdbcType="CHAR" />
    </resultMap>

    <select id="selectApplyAgentById" resultMap="storeApplyAgentMap" parameterType="java.lang.Integer" >
        select
        <include refid="store_apply_agent_column_List" />
        from store_apply_agent
        where store_id = #{storeId,jdbcType=INTEGER}
    </select>

    <select id="selectApplySalesmanById" resultMap="storeApplySalesmanMap" parameterType="java.lang.Integer" >
        select
        <include refid="store_apply_salesman_column_List" />
        from store_apply_salesman
        where store_id = #{storeId,jdbcType=INTEGER}
    </select>

    <select id="selectMemberTopBalanceByAccountId" resultMap="memberSubAccountMap" parameterType="java.lang.Integer">
        select
        <include refid="member_sub_account_column_list"/>
        from member_sub_account
        where account_id = #{accountId} and is_deleted = 0 order by balance_amount desc limit 0, 1
    </select>

    <select id="selectCouponInfoById" resultMap="couponInfoDtoMap" parameterType="java.lang.Integer" >
        SELECT
        CASE c.coupon_type
        WHEN 1 THEN (SELECT project_name from project_info WHERE project_id = c.coupon_use_id)
        WHEN 2 THEN (SELECT goods_name from goods_info WHERE goods_id = c.coupon_use_id)
        WHEN 3 THEN (SELECT combo_name from combo_info WHERE combo_id = c.coupon_use_id)
        WHEN 4 THEN (SELECT category_name from project_category WHERE category_id = c.coupon_use_id)
        WHEN 5 THEN (SELECT category_name from goods_category WHERE category_id = c.coupon_use_id)
        ELSE '通用' END
        AS coupon_use,
        CASE c.coupon_type
        WHEN 1 THEN '项目'
        WHEN 2 THEN '商品'
        WHEN 3 THEN '疗程'
        WHEN 4 THEN '项目系列'
        WHEN 5 THEN '商品系列'
        ELSE '通用' END
        AS coupon_type,
        CASE c.coupon_is_use
        WHEN 0 THEN '未发布'
        WHEN 1 THEN '已发布'
        ELSE '' END
        AS coupon_is_use,
        c.coupon_id,c.coupon_name,c.coupon_price,c.coupon_vantages,c.coupon_start_time,c.coupon_stop_time,
        c.release_time,c.has_exchange_count,c.has_use_count,c.effective_days, c.start_time_use, c.end_time_use  from coupon_info c
        WHERE c.coupon_id = #{couponId,jdbcType=INTEGER} and c.is_delete = 0
    </select>


    <select id="selectStoreSettingById" resultMap="store_setting_Map" parameterType="java.lang.Integer" >
        select
        <include refid="store_setting_column_List" />
        from store_setting
        where store_id = #{storeId,jdbcType=INTEGER}
    </select>

    <select id="selectMemberBaseInfo" parameterType="java.lang.Integer" resultType="com.platform.web.dto.MemberBaseDto">
        SELECT
        m.member_id                   AS memberId,
        m.store_id                    AS storeId,
        s.store_name                  AS storeName,
        (SELECT level_name
        from member_level
        WHERE level_id = m.level_id) AS levelName,
        m.level_id                    AS levelId,
        m.name                        AS name,
        m.head_url                    AS headUrl,
        m.sex                         AS sex,
        m.birthday                    AS birthday,
        m.phone                       AS phone,
        m.card_no                     AS cardNo,
        m.community                   AS community,
        m.create_time                 AS createTime,
        IFNULL(m.message_type, 0)     AS messageType,
        a.total_amount                AS totalAmount,
        a.balance_amount              AS balanceAmount,
        a.balance_giftmoney_amount    AS giftmoneyAmount,
        a.debt_amount                 AS debtAmount,
        a.balance_integral            AS balanceIntegral,
        a.consume_count               AS consumeCount,
        a.avg_consume_amount          AS avgConsumeAmount,
        a.last_consume_time           AS lastConsumeTime,
        a.avg_consume_days            AS avgConsumeDays,
        a.total_consume_amount        AS totalConsumeAmount,
        m.is_deleted                  AS isDeleted
        from member_info m
        INNER JOIN member_account a
        ON m.member_id = a.account_id
        INNER JOIN store_info s
        ON m.store_id = s.store_id
        WHERE member_id = #{memberId}
    </select>

    <update id="updateCouponCountById" parameterType="java.lang.Integer">
        update coupon_info set has_exchange_count = has_exchange_count + 1 where coupon_id = #{couponId} and is_delete = 0
    </update>

    <update id="updateGiftMoney" parameterType="java.util.Map" >
        update member_account
        set total_giftmoney_amount = total_giftmoney_amount + #{totalGiftmoneyAmount,jdbcType=DECIMAL},
        balance_giftmoney_amount = balance_giftmoney_amount + #{balanceGiftmoneyAmount,jdbcType=DECIMAL}
        where account_id = #{accountId,jdbcType=INTEGER}
    </update>

    <!-- 增加礼金金额 -->
    <update id="updateIncreaseGiftAmount" parameterType="java.util.Map">
        update member_sub_account set
        total_giftmoney_amount = total_giftmoney_amount + #{giftAmount},
        balance_giftmoney_amount = balance_giftmoney_amount + #{giftAmount},
        update_time = #{updateTime},
        last_operator_id = #{lastOperatorId}
        where sub_account_id = #{subAccountId}
    </update>

    <insert id="insertMemberCoupon" parameterType="com.platform.web.entity.MemberCoupon" >
        insert into member_coupon
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="relevanceId != null" >
                relevance_id,
            </if>
            <if test="couponId != null" >
                coupon_id,
            </if>
            <if test="memberInfoId != null" >
                member_info_id,
            </if>
            <if test="isUsed != null" >
                is_used,
            </if>
            <if test="grantTime != null" >
                grant_time,
            </if>
            <if test="invalidTime != null" >
                invalid_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="relevanceId != null" >
                #{relevanceId,jdbcType=INTEGER},
            </if>
            <if test="couponId != null" >
                #{couponId,jdbcType=INTEGER},
            </if>
            <if test="memberInfoId != null" >
                #{memberInfoId,jdbcType=INTEGER},
            </if>
            <if test="isUsed != null" >
                #{isUsed,jdbcType=INTEGER},
            </if>
            <if test="grantTime != null" >
                #{grantTime,jdbcType=CHAR},
            </if>
            <if test="invalidTime != null" >
                #{invalidTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertGiftMoneyDetail" parameterType="com.platform.web.entity.GiftmoneyDetail" >
        insert into giftmoney_detail (detail, account_id, detail_id, total_amount,
        now_money, residue_now_money, part_number, part_type,
        start_date, end_date, create_time,
        is_deleted, is_present, last_operator_id)
        values (#{detail,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{detailId,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL},
        #{nowMoney,jdbcType=DECIMAL}, #{residueNowMoney,jdbcType=DECIMAL}, #{partNumber,jdbcType=INTEGER}, #{partType,jdbcType=INTEGER},
        #{startDate,jdbcType=CHAR}, #{endDate,jdbcType=CHAR}, #{createTime,jdbcType=CHAR},
        #{isDeleted,jdbcType=INTEGER}, #{isPresent,jdbcType=INTEGER}, #{lastOperatorId,jdbcType=INTEGER})
    </insert>

    <insert id="insertGiftMoneyFlow" parameterType="com.platform.web.entity.GiftmoneyFlow">
        insert into giftmoney_flow
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="flowId != null" >
                flow_id,
            </if>
            <if test="accountId != null" >
                account_id,
            </if>
            <if test="subAccountId != null" >
                sub_account_id,
            </if>
            <if test="detailId != null" >
                detail_id,
            </if>
            <if test="flowType != null" >
                flow_type,
            </if>
            <if test="flowAmount != null" >
                flow_amount,
            </if>
            <if test="businessType != null" >
                business_type,
            </if>
            <if test="businessDesc != null" >
                business_desc,
            </if>
            <if test="residueMoneyInfo != null" >
                residue_money_info,
            </if>
            <if test="flowTime != null" >
                flow_time,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="flowId != null" >
                #{flowId,jdbcType=INTEGER},
            </if>
            <if test="accountId != null" >
                #{accountId,jdbcType=INTEGER},
            </if>
            <if test="subAccountId != null" >
                #{subAccountId,jdbcType=INTEGER},
            </if>
            <if test="detailId != null" >
                #{detailId,jdbcType=INTEGER},
            </if>
            <if test="flowType != null" >
                #{flowType,jdbcType=INTEGER},
            </if>
            <if test="flowAmount != null" >
                #{flowAmount,jdbcType=DECIMAL},
            </if>
            <if test="businessType != null" >
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="businessDesc != null" >
                #{businessDesc,jdbcType=VARCHAR},
            </if>
            <if test="residueMoneyInfo != null" >
                #{residueMoneyInfo,jdbcType=VARCHAR},
            </if>
            <if test="flowTime != null" >
                #{flowTime,jdbcType=CHAR},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <insert id="insertApplyAgent" parameterType="com.platform.web.entity.StoreApplyAgent" >
        insert into store_apply_agent
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="agentId != null" >
                agent_id,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="agentId != null" >
                #{agentId,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <insert id="insertApplySalesman" parameterType="com.platform.web.entity.StoreApplySalesman" >
        insert into store_apply_salesman
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                store_id,
            </if>
            <if test="salesmanId != null" >
                salesman_id,
            </if>
            <if test="isDeleted != null" >
                is_deleted,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="storeId != null" >
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="salesmanId != null" >
                #{salesmanId,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

</mapper>